body
{
    color: #333;    
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Source Sans Pro';
}
h1, h2, h3, h4, h5, h6, ul, p
{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1
{
    margin: 1em 0 .3em;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3em;
    padding: 5px 10px;
}
hr
{
    border: none;
    height: 0;
    width: 100%;
    margin: 10px 0 20px;
    padding: 0; 
    border-bottom: 2px solid #a51e22;
}
.china-visa .visa-required
{
    background: #e9e9e9;
    border-left: 5px solid #a51e22;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 50px;
    padding: 25px;
    margin-bottom: 20px;
}
.china-visa .visa-required .make-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    flex-wrap: wrap;    
}
.china-visa .visa-required h3
{
    font-size: 28px;
    margin-bottom: 18px;
}
.china-visa .visa-required h3 span
{
    font-size: 18px;
    font-weight: normal;
    display: block;
}
.china-visa .visa-required p
{
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.china-visa .visa-required p a
{
    color: #a51e22;
    padding: 0;
    margin: 0;
    font-size: 80%;
    text-decoration: none;
    text-transform: lowercase;
}
.china-visa .visa-required p a:hover
{
    text-decoration: underline;
    text-transform: uppercase;
}
.china-visa .visa-required ul
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 324px;
}
.china-visa .visa-required ul li span
{
    margin-right: 10px;
    color: #333;       
}
.china-visa .visa-required ul li:hover span
{
    color: #a51e22;
}
.china-visa .visa-required ul li a
{
    text-decoration: underline;    
    color: #333;       
}
.china-visa .visa-required ul li:hover a
{
    color: #a51e22;
}
.china-visa .visa-required .make-flex .red-button
{
    padding: 15px 35px;
    background: #a51e22;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 20px;
}
.china-visa .visa-required .make-flex .red-button:hover , .consular-closings .get-my-visa .visa-button:hover
{
    background: #891b23;
    text-decoration: none;
}
.china-visa .visa-required .make-flex .red-button i
{
    padding-left: 10px !important;
}
/* End .visa-required */

.information
{
    margin: .1em -15px 1.2em -10px;
}
.information .make-flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.information .make-flex .child-flex
{
    width: 157px;
    height: 160px;
    margin: 0 5px 5px 0;
    border: 1px solid #cacaca;
    background: linear-gradient(to bottom, #EDEDED 0%, #FFFFFF 70%);
    text-align: center;    
    position: relative;
    padding: 10px;
}
.information .make-flex .child-flex h5
{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    height: 65px
}
.information .make-flex .child-flex .icon-cover
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a51e22;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin: auto;
}
.information .make-flex .child-flex .icon-cover i
{
    font-size: 34px;
    color: #a51e22;
}
.information .make-flex .child-flex .show
{
    position: absolute;
    width: 350px;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    border: 1px solid #000;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    padding: 1em 2em;
    display: none;
}
.information .make-flex .child-flex .show h6
{
    text-align: center;
    font-size: 14px;
    margin: .1em 0 .5em;
}
.information .make-flex .child-flex .show ul
{
    list-style: outside;
    margin: 5px;
}
.information .make-flex .child-flex .show h6
{
    text-align: center;
    font-size: 14px;
    margin: .1em 0 .5em;
    font-weight: 700;
}
.information .make-flex .child-flex .show a
{
    color: #a51e22;
    text-decoration: none;
}
.information .make-flex .child-flex:hover .show
{
    display: block
}

/* Start consular-closings */

.consular-closings p
{
    margin: .2em 0 1.2em;
}
.consular-closings ul
{
    width: 630px;
    margin-bottom: 35px;
}
.consular-closings ul li
{
    display: flex;
    justify-content: space-between;
}
.consular-closings ul li p
{
    margin: 0;
}
.consular-closings .get-my-visa
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}
.consular-closings .get-my-visa ul
{
    width: auto;
    display: flex;
}
.consular-closings .get-my-visa ul li
{
    margin: 0 10px;    
}
.consular-closings .get-my-visa ul li a
{
    text-decoration: underline;
    color: #333;
    margin-left: 10px;    
}
.consular-closings .get-my-visa .visa-button
{
    background: #a51e22;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
    letter-spacing: 1px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}



.show-hide
{
    display: none;
}


/* @media */

@media (max-width: 1300px){

    .information .make-flex
    {
        justify-content: center;
    }
    .information .make-flex .child-flex .show
    {
        width: 310px;
    }
}
@media (max-width: 767px){

    .china-visa .visa-required h3
    {
        font-size: 22px
    }
    .china-visa .visa-required ul
    {
        width: auto;
    }
    body
    {
        font-size: 12px;
    }
    .china-visa .visa-required .make-flex .red-button
    {
        padding: 11px 31px;
    }
    .consular-closings ul
    {
        width: auto;
    }
}
@media (max-width: 670px){

    .information .make-flex
    {
        padding: 0 30px;
    }
}
@media (max-width: 500px){

    .information .make-flex .child-flex
    {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .information .make-flex .child-flex .icon-cover
    {
        display: none;
    }
    .information .make-flex .child-flex h5
    {
        height: auto;
        margin-bottom: 10px;
    }
    .information .make-flex .child-flex .show
    {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        border: 1px dotted #000;
    }
    .information .make-flex .child-flex .show h6
    {
        display: none;
    }
}
@media (min-width: 500px)
{
    .show-hide 
    {
        display: block !important;
    }   
    .learn-more
    {
        display: none !important;
    }
}
h1:not(.site-title):before, h2:before{
    display:none;
}